* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.wrapper {
  background-color: #152028;
  padding: 1.5rem;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  color: #eeeeee;
  background-color: #232b32;
  padding: 4rem;
  border-radius: 10px;
}

.subheading {
  font-size: small;
}

a {
  text-decoration: none;
  color: #eeeeee;
}

a:hover {
  text-decoration: underline;
}

.header {
  text-align: center;
  font-size: 1.1rem;
}

.bio-container {
  padding: 1rem;
  line-height: 1.5;
  border: #eeeeee solid 1px;
  border-radius: 10px;
}

.image-container {
  margin-top: 1rem;
  border: #eeeeee solid 1px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}

.image-label {
  background-color: #393e46;
  width: 100%;
  padding: 0.5rem;
  border-radius: 10px;
}

.image-container img {
  border-radius: 50%;
  margin: 2rem 0rem;
}

.time-line {
  margin-top: 3rem;
  font-size: 1.25rem;
}

.time-line li {
  margin-top: 1rem;
}

.subheading-2 {
  margin-top: 4rem;
  font-style: italic;
  text-align: center;
  color: #eeeeee;
}

.github-logo {
  vertical-align: bottom;
  margin-left: 0.5rem;
  position: relative;
  top: 4px;
}

/* Smartphones (portrait and landscape)  */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .image-container img {
    width: 100%;
  }

  .container {
    padding: 1rem;
  }
}
